<!--header-->
<header>
  <div class="wrapper-header container">
    <!--logo-->
    <div id="logo">
      <%= image_tag("logo.png", :alt => "LapaKos") %>
    </div>
    <!--end of logo-->
    <!--nav-->
    <nav>
      <ul>
        <li><a href="#">
        <%= link_to "Login", kosts_path %>
        </a></li>
        <li><a href="#">Daftar</a></li>
        <li><a href="#" class="btkelola">Kelola Kosan</a></li>
      </ul>
    </nav>
    <!--end of nav-->
  </div>
</header>
<!--end of header-->
