/*=================> show kosts <===================*/
.img-show img{
  width: 65%;
  height: auto;
  float: left;
}
.show-informasi{
  margin-left: 10px;
  width: 32%;
  float: right;
  border: 1px solid #d0d4db;
}
.show-informasi h3{
  color: #1071a1;
  background-color:  #f2f3f4;
  padding: 5px;
  margin: 0px !important;
  border-bottom: 1px solid #d0d4db;
}
.show-informasi h4{
  background-color:  #f2f3f4;
  padding: 5px;
  margin: 0px !important;
  border-bottom: 1px solid #d0d4db;
}
.show-informasi p{
  padding: 5px 5px 5px 20px;
  margin: 0px !important;
  border-bottom: 1px solid #d0d4db;
}
/*=================> carousel images <===================*/
#show-carousel{
  width: 65%;
  height: auto;
  float: left;
}
.show-img{
  width: 100%;
  height: auto;
}
